# Ignore Production
config.php
/vendor
/storage/cache
/storage/plugins

# Ignore Files Types
*.psd
*.db
*.log
*.zip

# Ignore Dev Environment
/.dist
/.vscode
/.idea
/public/content/*[.png,.jpg,.jpeg,.svg]
workspace.code-workspace